{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Save Clothes</title>
</head>
<body>
    <h1>Save Clothes</h1>

    <form method="post" action="{% url 'save_clothes_view' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="description_of_clothes">Description:</label>
            <input type="text" name="description_of_clothes" id="description_of_clothes" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="brand">Brand:</label>
            <input type="text" name="brand" id="brand" class="form-control">
        </div>
        <div class="form-group">
            <label for="season">Season:</label>
            <select name="season" id="season" class="form-control" required>
                {% for season in all_seasons %}
                    <option value="{{ season.id }}">{{ season.season_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="optimal_temperature">Temperature range:</label>
            <input type="text" name="optimal_temperature" id="optimal_temperature" class="form-control" required>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</body>
</html>
